@import url('https://fonts.googleapis.com/css?family=Playfair+Display');

body {
  font-family: 'Playfair Display', serif;
  background-color: cornsilk;
}

td{
  width: 60%;
}
#title_banner{
  background-color: dimgray;
  margin: auto;
  width: 80%;
  text-align: center;
  color: orange;
  border-bottom: 5px solid black;
  border-right: 5px solid black;
  border-left: 5px solid black;
}

#survey-form{
  margin: auto;
  width: 80%;
}
